/*************** Pagination ***************/

.pagination { text-align: center; padding: 20px 0 5px 0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }
.pagination a { margin: 0 5px 0 0; padding: 3px 6px; border: 1px solid #ddd; color: #57a000; text-decoration: none; }
.pagination a:hover { text-decoration: underline; border: #459300 2px solid; border-color: #459300 !important; }
.pagination span.number { background: #469400 url('../images/bg-button-green.gif') top left repeat-x !important; border-color: #459300 !important; color: #fff !important; margin: 0 5px 0 0; padding: 3px 6px; }
.pagination input[type=text] { width: 30px }
